
 ul.sub-menu li.arrow {
    font-size:11px;
	margin-left: 0.5em;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline;
    width: auto;
	height: auto;
	line-height: normal;
	vertical-align: 10%;
	background-position: 0% 0%;

	margin-top: 0;
	font-family: 'FontAwesome';
	content: "\f105";
	float: right;
	margin-right: 0px;
	margin-top: 5px;*/
}

.carousel-control.left{
    background-image: none;
     margin-left: -150px;
}

.carousel-control.right {
    background-image: none;
     margin-right: -150px;
}


/*
 .ul li.dropdown ul { max-height: 0; overflow: hidden; margin: 0 0 0 30px; }
       .ul li.dropdown.opened > ul { max-height: 1000px; margin: 0 0 -1px 30px; }
       .ul li.dropdown ul li a { position: relative; }
       .ul li.dropdown > a { margin-right: 51px; }
       .ul li.dropdown > .selector { position: absolute; cursor: pointer; z-index: 30; top: 0; right: 0; width: 50px; height: 50px; background: rgba(0,0,0,0.1); text-align: center; opacity: 0.6; }
       .ul li.dropdown > .selector:hover { opacity: 1; }
       .ul li.dropdown > .selector::before { transition: all 300ms ease; content: "\f0d7"; font: normal normal normal 24px/1 FontAwesome; margin-top: 12px; display: block; opacity: 0.5; }
       .ul li.dropdown.opened > .selector::before { content: "\f00d"; }


*/


.travelDate {
  font-size: 16px;
  font-weight:bold;
  text-align:center !important;
}
.travelCost {
   font-size: 16px;
   font-weight:bold
}

.table > thead> tr >th{
 font-size: 16px;
 text-align:center !important;
 }

 .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F4F4F4;
 }

 table {
     border-collapse: collapse;
 }


tr.border_bottom td {
  border-bottom:1pt solid #ddd;
}

div.temp_ov {
  overflow: scroll;
}

.nav-sidebar{
   font-size: 16px;
   font-weight:bold
}

/*#tripMenu {
  position:fixed !important;
}*/

/*
#menu {
  color: #000 !important;
}*/

/**********Tip page ***********/
.glyphicon.glyphicon-cutlery {
    font-size: 32px;
    margin-top:10px;
}

.glyphicon.glyphicon-bed {
    font-size: 32px;
    margin-top:10px;
}

.glyphicon.glyphicon-plane{
    font-size: 32px;
    margin-top:10px;
}

.glyphicon.glyphicon-camera{
    font-size: 32px;
    margin-top:10px;
}
.star-yellow {
   color:#ffcc00;
   font-size: 25px;
}
